
html{
    font-family:  "Quicksand", sans-serif; Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: #231942;
    color: #e0b1cb;
}

a:link {
    color: #9f86c0;
    font-weight: bold;
}

a:visited {
    color: #816d9b;
}

a:hover {
    color: #816d9b;
}

header {
    background-color: #170f41e1;
}

body {
    font-size: 15px;
} 

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#second {
    font-style: italic;
    font-size: 10px;
}

h1 {
    color: #be95c4;
}

h2 {
    color: #d8e2dc;
}