/* this is a comment to test the ctrl +slash command */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

img {
    display: block; /* image in line with box - no fake margins */
}

html {
    font-family:  "Quicksand", sans-serif, Arial, Helvetica, sans-serif; /* listed fonts in case the first choice doesn't work */
    line-height: 1.5;
    background: #231942;
    color: #e0b1cb;
}

a:link {
    color: #9f86c0;
    font-weight: bold;
}

a:visited {
    color: #816d9b;
}

a:hover {
    color: #816d9b;
}

header, footer {
    background-color: #170f41e1;
    border: 5px outset #9f86c0;
    padding: 0.5em;
}

header p {
    font-weight: bold;
}

body {
    font-size: 18px;
}

p.special, ol, ul {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 24px;
}

p.credit {
    font-style: italic;
    font-size: 0.8rem;
}

h1 {
    color: #ffe5d9;
    width: 50%;
    padding: 0.5em;
    font-size: 36px;
    font-weight: bold;
    margin: 40px 100px;
}

/* about page h1 */
main h1 { 
    border: 3px solid #0000005f;
    border-radius: 20px;
} 

h2 {
    color: #d8e2dc;
    padding: 24px;
    font-size: 30px;
    font-weight: 700;
}

h3 {
    color: #d8e2dc;
    padding: 24px;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

h4 {
    color: #d8e2dc;
    padding: 26px;
    font-size: 20px;
    font-weight: 700;
}

p {
    line-height: 2;
}

.outer-container {
    border: 3px solid #0000005f;
    width: 50vw;
    margin: 40px 100px;
    border-radius: 20px;
    min-width: 50vw;
}

.inner-container {
    border: 2px;
    margin: 1em 1.5em;
    min-width: 100vw;
}

.container {
    background-color: #0000005f;
    margin: 1.5em;
    padding: 1.5em;
    width: 70%;
    border-radius: 20px;
}

.container2 {
    margin: 0 1.5em 1.5em 0;
    padding: 0 1.5em;
    width: 50%;
}

.container3 {
    background-color: #0000005f;
    margin: 40px 100px 40px 80px;
    padding: 3em;
    width: 50vw;
    min-width: 50vw;
    border-radius: 20px;
}

.hero {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.rat-pic-figure {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 5px double #9f86c0;
    border-radius: 50%;
}

.rat-pic-figure img {
    width: auto;
    height: 100%;
    min-width: 100px;
    margin-left: -15px;
}

.rat-rose-figure {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 5px double #9f86c0;
    border-radius: 50%;
}

.rat-rose-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    margin-top: -40px;
}